.w {
    width: 1127px;
    margin: 0 auto;
}

.box2 {
    min-height: 410px;
    border: 1px solid #bbbbbb;
    margin-top: 10px;
}

.box4 {
    padding: 5px;
    min-height: 410px;
    text-align: center;
    box-sizing: border-box;
}

.box4 table {
    border-collapse: collapse;
    min-height: 410px;
}
.box4 table td.rainTit{
	font-size:16px;
	color:blue;
	background:#eae4f7;
}

.box4 table td.tempTit{
	font-size:16px;
	color:red;
	background:#eae4f7;
}
.box4 table td.war{
    &>input{
        border:1px solid red;
    }
    &:focus{
        border:1px solid red;
    }
    &::after{
        position:absolute;
        left:0;
        bottom:0;
        width:100px;
        height:10px;
        content:'输入格式有误';
        color:red;
        transition:0.3s;
        z-index:100;
    }
}
.box4 table td.war2{
    &>input{
        border:1px solid red;
    }
    &:focus{
        border:1px solid red;
    }
    &::after{
        position:absolute;
        left:0;
        bottom:0;
        width:100px;
        height:10px;
        content:'请输入整数';
        color:red;
        transition:0.3s;
        z-index:100;
    }
}
.box4 table span {
    font-weight: 700;
}

.box4 table input {
    width: 90%;
    height: 60%;
    border: 1px solid #eadbdb;
    text-align: center;
}

.box4 table,
th,
td {
    border: 1px solid #dddddd;
    border-collapse: collapse;
}

.box4 table td {
    position: relative;
    width: 109px;
    text-align: center;
}

.name {
    width: 155px;
    padding: 0 3px;
}
.tip{
	margin-left:10px;
	color:#615c5d;
	font-size:14px;
}

/deep/.btn {
    display: block;
    padding: 5px 18px;
    margin: 15px 0;
    text-align: center;
    margin: 15px auto;
    cursor: pointer;
    border-radius: 5px;
}